body{
    background-color: rgb(0, 51, 51);
}
header{
    font-family: "Oswald", sans-serif;
    text-align: center;
    background: url(фон.jpg);
    background-size: cover;
    color: rgb(64, 127, 127);
    border-radius: 200px;
    margin: 40px;
    border: 10px solid rgb(34, 102, 102);
}
img{
    width: 300px;
    margin: 60px 0px 0px;
    border-radius:450px;
    border: 5px solid rgb(64, 127, 127);
}
a{
    color: rgb(13, 77, 77);
    text-decoration: none;
}
h1{
    font-size: 150px;
    text-shadow: 6px 3px 6px rgb(13, 77, 77);
}
li{
    display: inline;
    padding: 0px 10px 0px 10px;
    color: rgb(102, 153, 153);
    font-family: "Oswald", sans-serif;
    
}
article{
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
    font-family: "Oswald", sans-serif;
    transition: 2s;
    text-align: center;
    color:rgb(34, 102, 102);
    transition: 1s linear;
}
article:hover{
    transform: scale(1.2);
    color:rgb(102, 153, 153);
}
p{
    text-align: justify;
}
button{
    background-color: rgb(34, 102, 102);
}
.p1{
    text-align: center;
}
.p2{
    text-align: center;
}
.sidepanel{
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: rgb(34, 102, 102); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
.sidepanel a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(102, 153, 153);
    display: block;
    transition: 0.3s;
}
.sidepanel a:hover{
    color: rgb(0, 51, 51);
}
.sidepanel .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn{
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    background-color: rgb(13, 77, 77);
    color: rgb(102, 153, 153);
    padding: 10px 15px;
    border: none;
}
.openbtn:hover{
    background-color: rgb(0, 51, 51);
    transition:ease-in-out 0.5s, color 1s;
}